.list-cell {
    -fx-background-color: null;
    -fx-control-inner-background: null;
}

.list-view {
    -fx-background-image: url("../img/background.png");
    -fx-padding: 1px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0 0.10em 0 0.10em;
    -fx-background-color: #2A3942;
}

.split-pane:horizontal {
    -fx-border-color: #2A3942;
    -fx-background-color: #2A3942;
    -fx-background-insets: 0;
    -fx-padding: 1px;
}

.themeColor {
    -fx-background-color: #2A3942;
}

.themeLabel {
    -fx-text-fill: #CCD3D7;
    -fx-prompt-text-fill: #8696A0;
}

.button {
    -fx-background-color: #8696A0;
    -fx-background-radius: 50px;
}

.emoji-label{
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 27px;
}




